body{
    background: url(Detective.jpg);
    background-repeat: repeat;
    background-size: 100%;
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: darken;
}

span{
    color: aqua;
}
.titulo{
    width: 42%;
    height: 100%;
    position: absolute ;
    top: 10%;
    left: 30%;    
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.months{
    width: 400px;
    position:absolute;
  		left: 180px;
  		top:300px;
    background: #e1d071be;
    padding: 30px;
    margin: auto;
    margin-top: 1px;
    border-radius: 10px;
    font-family: "calibri";
    color: rgb(255, 255, 255);
}
.Products{
    width: 400px;
    position:absolute;
  		left: 880px;
  		top:400px;
    background: #41ea9098;
    padding: 30px;
    margin: auto;
    margin-top: 1px;
    border-radius: 10px;
    font-family: "calibri";
    color: rgb(255, 255, 255);
}